[Unit]
Description=InteleSalud Next.js service
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/var/www/intelesalud/.next/standalone
ExecStart=/var/www/intelesalud/start.sh
Environment=PORT=3004
Environment=HOSTNAME=127.0.0.1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
